@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    font-display: swap;
}
.baslik {
  font-family: 'Unbounded', sans-serif;
    font-display: swap;
}

html.dark {
    background-color: #141414;
    color: #fff;
  }
 
  .olink {
      text-decoration: none;
      background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
      transition: 0.7s background-size;
      background-position: left bottom;
  }
  
  .olink:hover {
      background-size: 100% .1em;
  }

  /* HTML: <div class="corner-only"></div> */
.corner-only {
    --s: 20px; /* size of the corners */
    border: 4px solid #e9e9e9;
    padding: 20px;
    height: 100%;
    width: 100%;
    mask: 
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
      0 0/calc(100% - var(--s)) calc(100% - var(--s));
  }

  
  .wp-block {
    margin-bottom: 30px;
  }

  .wp-code {
    max-width: 800px;
    margin-bottom: 30px; 
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  .wp-alinti {
    border-left: solid 6px #f9d73a;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
  }
  .wp-alinticik {
    margin-top: 5px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 500;
  }
  .wp-baslik {
   margin-bottom: 5px;
  }

  .wp-h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .wp-resim {
    max-width: 768px;
    max-height: 468px;
    margin-bottom: 30px;
  }

  .wp-tweet {
    max-width: 768px;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

  }
  .wp-video {
    position: relative;
    width: 100%;  /* Kapsayıcının genişliği kadar */
    padding-bottom: 56.25%;  /* 16:9 en-boy oranını sağlar */
    height: 0;  /* Yükseklik sıfırlanır çünkü oran padding ile sağlanacak */
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.wp-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* iframe genişliği %100 olacak */
    height: 100%;  /* iframe yüksekliği %100 olacak */
}