---

---

<div class="bg-[#141414] mt-[100px] max-w-screen-xl mx-auto">
  <!-- FOOTER -->
  <div class="baslik flex flex-col lg:flex-row gap-6 lg:gap-0 justify-between items-center border-t border-gray-800 py-6 text-center text-xs text-gray-500 px-6">
    
    <!-- Sol Taraf: Linkler -->
    <div class="flex flex-row space-x-6">
      <a href="/hakkimizda" class="hover:text-white transition">Hakkımızda</a>
      <a href="/gizlilik-politikasi" class="hover:text-white transition">Gizlilik Politikası</a>
      <a href="/reklam" class="hover:text-white transition">Reklam</a>
    </div>
    
    <!-- Orta: Başlık -->
    <div>
      <h1 translate="no" class="text-white text-2xl font-bold">
        <a href="/">BUGUNLERDE.COM</a></h1>
    </div>
    
    <!-- Sağ Taraf: Linkler -->
    <div class="flex flex-row space-x-6">
      <a href="#" class="hover:text-white transition">Çerez Tercihleri</a>
      <a href="/kullanim-kosullari" class="hover:text-white transition">Kullanım Koşulları</a>
      <a href="#" class="hover:text-white transition">İletişim</a>
    </div>
  </div>
</div>


