---
import { Icon } from 'astro-icon/components';
export const prerender = true;
---

<div class="flex items-center px-4">
  <a href="https://www.facebook.com/profile.php?id=61571630070298" target="_blank"><Icon name="facebook" class="p-0.5 mr-2 text-[22px] rounded text-[#000] bg-[#d7b82b] hover:shadow-none shadow-sm shadow-slate-700/50 transition-all ease-in-out duration-300" /></a>
    <Icon name="youtube" class="p-0.5 mr-2 text-[22px] rounded text-[#000] bg-[#d7b82b] hover:shadow-none shadow-sm shadow-slate-700/50 transition-all ease-in-out duration-300" />
    <a href="https://x.com/Bugunlerdecom" target="_blank"><Icon name="twitter" class="p-0.5 mr-2 text-[22px] rounded text-[#000] bg-[#d7b82b] hover:shadow-none shadow-sm shadow-slate-700/50 transition-all ease-in-out duration-300" /></a>
    <Icon name="instagram" class="p-0.5 text-[22px] rounded text-[#000] bg-[#d7b82b] hover:shadow-none shadow-sm shadow-slate-700/50 transition-all ease-in-out duration-300" />
  </div>

  